<% if is_user? %>
    <p>Hello, <%= @user[:fullname] %>.
    <strong><a href="/logout">Log out</a></strong></p>
<% else %>
    <p>Hello, Stranger.
    <strong><a href="/login">Log in</a></strong></p>
<% end %>