<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <title>Wiki</title>
  </head>
  <body>
    <%= yield %>
    
    <div>
        <h2>Params</h2>
        <%= params.inspect %>
    </div>
  </body>
</html>