<h1>Log in</h1>
<form action="login" method="post" accept-charset="UTF-8">
    <fieldset>
        <div class="element">
            <label for="username">Username</label>
            <input type="text" name="username" tabindex="1" maxlength="255" />
        </div>
        
        <div class="element">
            <label for="password">Password</label>
            <input type="password" name="password" tabindex="2" maxlength="255" />
        </div>
        
        <div class="button">
            <input type="submit" value="Log in" name="submit" />
        </div>
    </fieldset>
</form>